.container-nav {
    margin: 0px;
    justify-content: space-between;
    width: 100%;
}
.nav-links {
    margin: 0px;
    color: black;
    font-size: 2em;
}
.navigation {
    padding: 30px 0px;
    text-align: center;
}
.navigation:hover {
    background-color: rgb(211, 211, 211);
    border-bottom: 2px solid black;
}
.nav-links:hover {
    text-decoration: none;
    color: black
}