.about {
    margin-top: 200px;
}

.bio h1{
    animation: typing;
    margin-top: 200px;
    text-align: center;
    font-size: 3em;
}

.typewriter h1{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(0, 255, 42); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 255, 42); }
}