@import url('sentient.css');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;600&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  margin: 0px;
  padding: 0px;
}

html,
body {
    
        cursor: none;        
    
} 

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.cursor-dot {
    size: 8px;
    width: 8px;
    height: 8px;
    background-color: black;
}

.cursor-dot-outline {
    size: 40px;
    width: 40px;
    height: 40px;
    background-color: rgba(126, 126, 126, 0.3) ;
    border: solid 1px rgb(0, 0, 0);
    transition: 0.2s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
