.screen-container {
    margin: 0px;
    margin-bottom: 100px;
    background-color: rgb(255, 255, 255);
    overflow:hidden;
}

.small-titles {
    font-family: 'Manrope', sans-serif;
    margin: 40px;
}

.container-animation {
  justify-content: center;
  height: 710px;
}

.huge {
    animation-name: slideinright;
    animation-duration: 4s;
    margin: 0px;
    font-family: 'sentient-Variable';
    font-size: 13em;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    position: absolute;
   top: 150px;
    margin-left: 25%
}

.huge2 {
    animation-name: slideinleft;
    animation-duration: 4s;
    margin-top: 0px;
    font-family: 'sentient-Variable';
    font-size: 13em;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    position: absolute;
    top: 350px;
    margin-left: 50%;
}
.fixed-background {
  background-color: black;
}
.quote {
  padding: 20px 0px;
  color: white;
  margin-bottom: 0px;
  white-space: nowrap;
  font-size: 2em;
  transition-duration: 0.2s;
}

.cv-list {
    font-family: 'sentient-Variable';
    font-weight: bolder;
    margin-top: 0px;
    font-size: 2.5em;
    text-align: center;
    padding: 15px 0px;
}
.cv-row  {
    height: 80px;
    animation-name: color-change;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-timing-function: step-end;
    transition-duration: 0s, 0s;
}

.code-icon {
  text-align: center;
  padding-top: 20px;
}

.code-icon img{
  width: 50px;
}

#text-change:after{
  content: ' ';
  animation: changing-text 2s step-end infinite;
}

#text-change-design:after{
  content: ' ';
  animation: changing-text-design 2s step-end infinite;
}

@keyframes slideinright {
  0% {
    transform:  translateX(900px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes slideinleft {
  0% {
    transform:  translateX(-900px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .huge {
        font-size: 6em;
        -webkit-text-stroke-width: 1px;
        margin-left: 10%;
        top: 200px;
    } 
    .huge2 {
        font-size: 6em;
        -webkit-text-stroke-width: 1px;
        margin-left: 30%;
        top: 300px;
    } 

    @keyframes slideinright {
  0% {
    transform:  translateX(400px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes slideinleft {
  0% {
    transform:  translateX(-400px);
  }
  100% {
    transform: translateX(0px);
  }
}
}
@keyframes color-change {
  0% {
    background-color: rgb(231, 255, 93);
  }
  20% {
    background-color: rgb(255, 104, 196);
  }
  40% {
    background-color: rgb(0, 255, 42);;
  }
  60% {
    background-color: rgb(4, 217, 255);
  }
  80% {
    background-color: rgb(255, 104, 196);
  }
  100% {
    background-color: rgb(0, 255, 42);
  }
}

@keyframes changing-text {
  0% {
    content: 'REACTJS'
  }
  10% {
    color: white
  }
  20% {
    content: 'MONGODB';
    color: black;
  }
  30% {
    color: white
  }
  40% {
    content: 'NODEJS';
    color: black
  }
  50% {
    color: white
  }
  60% {
    content: 'HTML';
    color: black
  }
  70% {
    color: white
  }
  80% {
    content: 'NODEJS';
    color: black
  }
  90% {
    color: white
  }
  100% {
    content: 'CSS'
  }
}

@keyframes changing-text-design {
  0% {
    content: 'PHOTOSHOP'
  }
  10% {
    color: white
  }
  20% {
    content: 'ILLUSTRATOR';
    color: black;
  }
  30% {
    color: white
  }
  40% {
    content: 'INDESIGN';
    color: black
  }
  50% {
    color: white
  }
  60% {
    content: 'CLO3D';
    color: black
  }
  70% {
    color: white
  }
  80% {
    content: 'PHOTOSHOP';
    color: black
  }
  90% {
    color: white
  }
  100% {
    content: 'ILLUSTRATOR'
  }
}