
.portrait {
    justify-content: center;
}
.first-place {
  margin-left: 100px;
}

.move-left {
    animation-name: move;
    animation-delay: 0s;
    animation-duration: 4s;
}

.appear {
    animation-name: fadein;
    animation-duration: 3s;
}

.bio-container {
    align-items: center;
}

.bio {
    padding: 10px 150px;
    font-size: 1.5em;
}

.bio h1 {
    margin-bottom: 50px;
}

.bio p {
    margin-bottom: 50px;
}

.portrait img{
    width: 500px;
}

@keyframes move {
  0% {
    transform:  translateX(100px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0%
  }

  100% {
    opacity:100%
  }
}


